.~*
.thumb*
.DS_Store
.gitattributes
/base/bdd_centrale.csv

base/bdd courante.csv
Thumbs.db
*.pyc
scripts/new_sources
scripts/sources
scripts/neo4j/node_modules
scripts/neo4j/.output/
/base/bdd courante_avec_out.csv
bdd courante_avec_out.csv
